body {
    background: #E0B75F;
    font-family: 'helvetica', 'arial', sans-serif;
}
form {
    float: left;
    margin-bottom: 20px;
}

.frame-container {
    float: left;
    width: 130px;
    border: 1px solid #fff;
    padding: 5px;
}

.frame-container label {
    float: left;
    width: 100%;
    padding-bottom: 10px;
}

.frame-container input {
    float: left;
    width: 20px;
    margin: 0 3px;
}

.score {
    float: left;
    width: 100%;
}